<!DOCTYPE html> {% load staticfiles %}
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <title>Yazılar</title>
</head>

<body>
    <div class="page-header">
        <h1><a href="/">Blog</a></h1>
        {% if user.is_authenticated %}
          <div align="right"><a href="{% url 'post_new' %}" clas="top-menu"><span class="glyphicon glyphicon-plus"></span> Yeni Konu</a></div>
        {% endif %}
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>
