<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Yazılar</title>
</head>
<body>
  <div>
      <h1><a href="/">Blog</a></h1>
  </div>

  {% for post in posts %}
      <div>
          <h1><a href="">{{ post.baslik }}</a></h1>
          <p>{{ post.yazi|linebreaksbr }}</p>
          <p>Yayınlanma Tarihi: {{ post.yayinlama_tarihi }}</p>
      </div>
  {% endfor %}
</body>
</html>
